html{
    box-sizing: border-box;
    font-family: 'Arial';
    background-color: black;
    color: white;
}

*, *:before, *:after{
    box-sizing: inherit;
}

#fail{
    border: 5px solid white;
    padding: 0px 0px 0px 10px;
}

button{
    border-radius: 10px;
    background-color: grey;
    color: white;
    transition: 0.3s;
}

button:hover{
    background-color: white;
    color: black;
}